<!doctype html>
<html ng-app="generatorApp">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controller.js"></script>
    <script type='text/javascript' src='jquery.js'></script>
    <script type='text/javascript' src='siopm.js'></script>
    <script type='text/javascript' src='lzbase62.min.js'></script>
    <script src="https://minipop.github.io/sionicjs/demo/pico.min.js"></script>
    <script src="https://minipop.github.io/sionicjs/dist/sionic.js"></script>

    <style type="text/css">
    textarea {
    width: 640px;
    height: 16em;
    }
    </style>
  </head>
  <body>
    <div ng-controller="generatorController">
      <div>
        <h1>MML-editor</h1>

        <textarea cols="100" rows="20"
          ng-model="p.inputText"
          placeholder="MMLを入力してください"
          ng-change="generate()"
        ></textarea>
        <br/>
        <br/>
        <button ng-show="isiPhone()" ng-click='play()'>再生</button>
        <button ng-click='reverseOctave()'>オクターブ上下反転</button>
        <br/>
        <br/>
        <button ng-click='openTweet()'>ツイートする</button>
      </div>
      <br/>
      <span>MMLフォーマット:
        <select ng-model="mmlFormat" ng-change="generate()">
          <option value="sion">SiON (すたどんたんでお馴染み)</option>
          <option value="sionic">Pico.js + Sionic.js</option>
        </select>
      </span>
    </div>

    <hr>

    <div>
      <a href="http://app.16dimensional.com/stadon/">すたどんたん</a>
    </div>
    <br/>
    <div>
      <a href="https://github.com/cat2151/MML-editor/">ソースファイル githubリポジトリ</a>
    </div>
    <div>
      <a href="https://github.com/keim/SiON/">Powered by SiON</a>
    </div>
  </body>
</html>
